body
{ 
 
    background-image: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    margin: 0px;
    padding:0px;
     width: 100%;
   height: 100%;
}





#login
{
   
    background-color:white;
    color: black;
    border: 2 groove red;
   width: 29vw;
    height:40vw;
    position:absolute;
     left:35%;
    top:25% ;
    padding: 7vw 2vw;
    box-sizing: border-box;
 font-size: 1.2vw;
    border-radius: 5px;
 box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.76);
-webkit-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.76);
-moz-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.76);
}




#avatar
{
        width:7vw;
    height:7vw;
    position: absolute;
    left:37%;
    top:-4vw;
    border-radius: 50%;
}



#login h1
{ 
    position: relative;
    margin: 0px;
     padding: 0px 0px 3vw;
    text-align: center;
    font-size: 1.9vw;
    text-transform: capitalize;
    
}



#login p

{
    margin: 0;
    padding: 0;
    font-weight: bold;
    position: relative;
    top: 1.5vw;
    text-transform: capitalize;
    font-size: 1.4vw;
    
    
}



#login input
{
    width: 100%;
    margin-bottom: 1.8vw;
    
}


#login input[type="text"], input[type="password"]
{
    border: none;
    border: 1px solid #D3D3D3;
    background: transparent;
    outline: none;
    height: 3vw;
    color: black;
    font-size: 1.3vw;
    border-radius: 4px;
    text-transform: lowercase;
    position: relative;
     top: 2vw;
}


#login input[type="submit"]
{
    
    background:linear-gradient(to right top, #4767d6, #4d64ca, #5162be, #545fb2, #565da6);;
    border: none;
    outline: none;
    height: 2.7vw;
    color: white;
    font-size: 2vw;
    border-radius:2px;
    position:relative;
    top: 2.5vw;
    left: 0%;
    width: 25.1vw;
    
}







#login input[type="submit"]:hover
{
    cursor: pointer;
     background-image: linear-gradient(to right top, #949fc6, #838fc2, #747fbe, #656fb9, #585fb3);
    color:white;
}





#register input[type="submit"]:hover
{
    cursor: pointer;
   background: linear-gradient(to right top, #8b98c6, #7d89be, #6f7ab7, #626caf, #565da6);
    color:#000;
}






#login a
{
    text-decoration: none;
   font-size: 1.2vw;
    line-height: 2vw;
    color:darkgrey;
    position: relative;
      bottom: -2vw;
    left: 0%;
}





#login a:hover
{
    color:black;
}








#login a:hover
{
    color:#585FB3;
}







































header{
	background: black;
	color: white;
	padding: 1vw 2.8vw .5vw 6vw;
	height: 8vh;
}

header h1{
	display: inline;
	font-family: monospace;
	font-weight: 400;
	font-size: 4vw;
	float: left;
	margin-top: 0vh;
	margin-right: 2vw;
    text-transform: uppercase;
    position: absolute;
    top: 2%;
    
}

nav ul {
	display: inline;
	padding: 0vw;
	float: right;
}

nav ul li{
	display: inline-block;
	list-style-type: none;
	color: white;
	float: left;
	margin-left: 2vw;
	

}

nav ul li a{
	color: white;
	text-decoration: none;
    font-size: 1.7vw;
}


nav ul ul{
	display: none;
	position: absolute;
}

#navli ul li ul:hovar{
	visibility: visible;
	display: block;
}


.divider{
	background-color:#e62578;
	height: .5vw;
}





#navli{
	font-family: 'Montserrat', sans-serif;
}

.homered{
	background-color: #e62578;
	padding: 7vw 2.8vw 2.3vw 1.5vw;
}


.homeblack:hover{
	
z-index:1;
transform: scale(1.0);
    opacity: 2;
    color: orange;
    
    
    /*
    padding:7vw 2.8vw 2.4vw 1.5vw;
   */
}










h1 a
{
    text-decoration: none;
    color: aliceblue;
}