 
   
    
    body
    {
    
        background-color: white;
        
        
    }
    
    







#only_f
{
    background:hsl(240, 0%, 10%);
    position: absolute;
    width:100%;
    height:60vw;
    background-position: top;
    top: 0px;
    
}








    
    #para font 
    { 
        
     position: absolute;
     font-size: 3vw;
     left:35%;
     top: 118vw;
      text-transform: uppercase;
      font-weight:bold;
        
        
    }
    
    
    
    
    
    
    
    #para p
    {
              
           font-family: sans-serif;
        font-size: 1.5vw;
        font-weight: 500;
        position: absolute;
        height: 4vw;
        width: 45vw;
        left: 27%;
        top: 127vw;
        text-align: center;
        justify-content: space-between;
        font-weight: 500;
        line-height: 2vw;
        
    }
    
    
    
    
    
    
    #picture img
    {
        position: absolute;
       height: 38vw;
        width: 45vw;
        left: 28%;
        top:73vw;
    }
    
    
    
    
            


















    
    
    
            










    
    #para_1 font 
    { 
        
     position: absolute;
     font-size: 3vw;
     left:33%;
     top: 185vw;
      text-transform: uppercase;
      font-weight:bold;
    }
    
    
    
    
    
    
    
    #para_1 p
    {
              
        font-family: sans-serif;
        font-size: 1.5vw;
        font-weight: 500;
        position: absolute;
        height: 4vw;
        width: 45vw;
        left: 27%;
        top: 193vw;
        text-align: center;
        justify-content: space-between;
        font-weight: 500;
        line-height: 2vw;
        
    }
    
    
    
    
    
    
    #picture_1 img
    {
       position: absolute;
       height: 38vw;
        width: 45vw;
        left: 28%;
        top:143vw;
    }
    
    



















    
    #para_2 font 
    { 
        
     position: absolute;
     font-size: 2.5vw;
     left:8%;
       top:243.5vw;
     text-transform: uppercase;
     background:white;
    letter-spacing: 1px;
    background: #DCDCDC;
    width:25vw;
    text-align: center;
        
    }
    
    
 
    
    
    
   #picture_2 img
    {
        position: absolute;
        height:24.5vw;
        width:25vw;
       left: 8%;
       top:219vw;
        background: #DCDCDC;
         background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
    }
    
    

     
#picture_2 img:hover
{
     position: absolute;
           height: 24.5vw;
       width:25vw;
      left: 8%;
       top:219vw;
       background:white;
}

























    
    #para_3 font 
    { 
        
     position: absolute;
  font-size: 2.5vw;
     left:40%;
     top:243.5vw;
     text-transform: uppercase;
     background: #DCDCDC;
    width:25vw;
    text-align: center;
    }
    
    
 
    
    
    
   #picture_3 img
    {
        position: absolute;
      height: 24.5vw;
       width:25vw;
       left: 40%;
        top:219vw;
        background: #DCDCDC;
         background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
    }
    
     
#picture_3 img:hover
{
     position: absolute;
            height: 24.5vw;
       width:25vw;
      left: 40%;
       top:219vw;
       background:white;
}
















    
    #para_4 font 
    { 
        
     position: absolute;
    font-size: 2.5vw;
     left:70%;
     top:243.5vw;
     text-transform: uppercase;
     background: #DCDCDC;
    width:25vw;
    text-align: center;
    }
    
    
 
    
    
    
   #picture_4 img
    {
        position: absolute;
    height:24.5vw;
       width:25vw;
       left: 70%;
       top:219vw;
        background: #DCDCDC;
         background-image:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
    }
    
 
#picture_4 img:hover
{
     position: absolute;
          height: 24.5vw;
       width:25vw;
      left: 70%;
    top:219vw;
       background:white;
}


















        
    







        
    #main
        {
            width:100%;
            height:60vw;
            top:0px;
            position: absolute;
            overflow:hidden;
        }
    
        
        
        
        #box1 img
        {
            width:55vw;
            height:60vw;
            position:absolute; 
            left:45%;
            animation: anim 2s forwards, anim 3s forwards 3s;
           
            
            
        }
    
   
 
  
        #box4 img
        {
            width:55vw;
            height:60vw;
            position:absolute; 
            left:45%;
            animation: anim 2s forwards, anim 3s forwards 3s;
           
            
            
        }
    
   


#box4 img:hover
{
    opacity: 0;
}








/*

         #box3 img
        {
            content: '';
            position: absolute;
            width:52vw;
            height:60vw;
            background-image: url('pic/2.png');
            left: 45%;
            z-index:-1;
           
        }


*/



        
      
        
        
        
        
        
        @keyframes anim{
            from{
                bottom:-100%;
                }
            
            
              to{
                bottom:0%;
                }
            
            
                }
            

            
            
            
            
            
            @keyframes anim2{
            
                from{
                    left: 30%;
                    width: 530px;
                }
                
                
                to{
                    width: 0px;
                    left:50%;
                }
                
                }
                
                
               
                #box2
                {
                    width: auto;
                    height: auto;
                    font-family: 'bahnschrift Condensed';
                    color: white;
                    font-size: 7vw;
                    font-weight: 500;
                    line-height: 12vw;
                    position: absolute;
                    top:20vw;
                    left:5%;
                   overflow:hidden;
   
                }
                
                
                
                
                
                #text
                {
                    position: relative;
                    left: -100%;
                    animation: anim3 2s forwards 3s;
                }
                
                
                
                
                
                
                @keyframes anim3{
                   
                    from{
                        left:100%
                    }
                    
                    
                    
                    to{
                        left:0%;
                    }
                    
                }
                
                
                
                
                
                
                
                
                
                
              
                #box3
                {
                   overflow:visible;
                    
                }
                
                
                
                
                
                
                #container
                {
                    width: 100%;
                    position: absolute;
                    top: 2%;
                    animation: anim4 2s forwards 2.5s;
                }
                
                
                
                
                
                
                
                
                
                #logo 
                {
                    float: left;
                    margin-left: 4vw;
                    margin-top: 4vw;
                    
                }
                
                
                
                
                #logo img
                {
                    width:5vw;
                    height: 5vw;
                    position: absolute;
                    top:2vw;
                    left: 14%;
                    border-radius: 50%;
                    
                }
                
                
                
                #menu
                {
                    font-family:'behnschrift Condensed';
                    font-size: 1.5vw;
                    color:white;
                    letter-spacing: 0.1vw;
                    margin-right: 4vw;
                    margin-top: 1vw;
                    float:right;
                    position: absolute;
                    top:2vw;
                   
                  
                }
                
             #menu a li
               {
                  text-decoration: none;
                   color: aliceblue;
                   position: relative;
                   left: 30%;
                 }
                
               
               #menu a li:hover
               {
               color: orange;
      
               }

                
                
                #menu ul
                {
                    list-style: none;
                    
                }
                
                

                
                
                #menu ul li
                {
                    display: inline-block;
                    margin-left: 3vw;
                    
                   
                    
                }
                


                #menu ul li:hover
               {
                  z-index: 1;
                    transform: scale(1.09);
                }



                 #menu ul li a:hover
                {
    
                    color:coral;
                    z-index: 1;
                    transform: scale(1.01);
                }




                
                #menu ul li a
                {

                text-decoration: none;
                color: aliceblue;
                
                }
                
                @keyframes anim4{
                    from{
                        top: -100%;
                    }
                    
                    
                    to{
                        top:0%;
                    }
                    
                    
                
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                }
            
            
        






























*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins' , sans-serif;
    text-transform: none;
    transition: all 0.3 linear;
   
}









.container
{
    width: 100%;
    height: -90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-image: linear-gradient(90deg, #fff 0% , #alicewhite 100% );
    position:relative;
    top: 260vw;
}






.box
{
    width: 16em;
    height: 28em;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    padding-top: 80px;
    margin: 20px;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    z-index: 0;
}




.box h3
{
    font-size: 2em;
    padding: 20px 0;
    color: #444;
    
}






.box p
{
    font-size: 1em;
    color: #777;
}




.box button
{
    width:140px;
    height: 40px;
    background-color:#333;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 40px;
}





.box button:hover
{
    letter-spacing: 2px;
    opacity: .8;
}






.box::before
{
    width: 100px;
    height: 100px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}





.box::after
{
    width: 100%;
    height: 100%;
    background-color: 	#ff1493;
    background-image: linear-gradient(45deg, #fbda61 0%, #ffSACD 100%);
    content: '';
    position: absolute;
    top: 0;
    left:0;
    z-index:-2;
    clip-path: circle(20% at 90% 10%);
    transition: .2s;

        
    
}






.box .count
{
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 50px;
    font-weight:bolder;
    color: #fff;
}





.box:nth-child(2):after{
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    
} 



.box:nth-child(3):after{
    background-color: #08AEEa;
    background-image: linear-gradient(0deg, #08AEEa 0%, #2af598 100%);
}
    
    
  .box:hover::after
    {
        clip-path:circle(100%);
    }
    
    
    .box:hover h3
    {
        color: #fff;
    }
    
    
    .box:hover h3
    {
        color:#fff;
    }
    
    
    
    .box:hover p
    {
        color:#fff;
    }
    
    
    
    
    .box:hover button
    {
        color:#333;
        background-color: #fff;
    }
    

    .box:hover::before
    {
        background-color: rgba(0, 0, 0 , .1);
    }
































































/*
.footer
{
    background-color: black;
    width:100%;
    height:100vw;
    position:relative;
    top:-800vw;
    
}

*/







.footer
{
    background-color: black;
    width:100%;
     height:90vw;
    position: relative;
    top: 450vh;
    
}






.footer .foot_1 
{
    position: relative;
    left: 35%;
    bottom: -10%;
   width: 23vw;
    color: white;
   font-size: 1.5vw;
}



.footer .foot_1 li:hover
{
    z-index: 1;
    transform: scale(1.01);
    color: darkorange
}



.footer .foot_1 h1
{
     text-transform: uppercase;
    position: relative;
    bottom: -51%;
    color: aliceblue;
    
}


.footer .foot_2
{
    position: absolute;
   bottom: 84%;
    width: 5vw;
    height:2vw;
    text-align: left;
    width: 22vw;
    left: 5%;
    color: darkgrey;
    font-size: 1.5vw;
}


.footer .foot_2 h1
{
    
    color: aliceblue;
    text-transform: uppercase;
    font-size: 3vw;
    position: absolute;
    bottom: 47%;
}




.footer .foot_1 a
{
    text-decoration: none;
    color: aliceblue;
    line-height: 2;
    color: darkgrey;
    
}


















.footer .foot_3 
{
    position: absolute;
   bottom: 88%;
    width: 17vw;
    height:2vw;
    text-align: left;
    left: 65%;
    color: darkgrey;
    font-size: 1.5vw;
}


.footer .foot_3 h1
{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 3vw;
    width: 50vw;
    bottom: 47%;
}

.footer .foot_3 li
{
    width: 28vw; 
    position: relative;
    bottom: 15%;
}















































.footer .seen p
{
    position: absolute;
    bottom:37%;
    color:grey;
    width: 61vw;
    left:18%;
    text-transform: uppercase;
    font-size:1.6vw;
}








.footer .seen5 p
{
    position:absolute;
    bottom:2%;
    color:grey;
    width: 50%;
    left:33%;
    text-transform: uppercase;
    font-size: 1.5vw;
}









.footer .seen1 p
{
    position: absolute;
    bottom:32%;
    color:grey;
    width: 40%;
    left:30%;
    text-transform: lowercase;
    font-size: 1.5vw;
    
}
























.socail-menu ul
{
    position: absolute;
    bottom: 15%;
    left:37%;
    padding: 0px;
    margin: 0px;
    transform: translate(-15px,-15px);
    display: flex;
   
    
    
}


.socail-menu ul li
{
    list-style: none;
    margin: 0 15px;
     
    
}


.socail-menu ul li .fa
{
    font-size: 3vw;
    line-height: 7vw;
    transition: .6s;
    color: #000;
    
}


.socail-menu ul li .fa:hover
{
    background-color: #fff;
}



.socail-menu ul li a
{
    position: relative;
    display: block;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: #fff;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}



.socail-menu ul li a:hover
{
    transform: translate(0, -10px);
}





.socail-menu ul li:nth-child(1) a:hover
{
    background-color: #3b5999;
}




.socail-menu ul li:nth-child(2) a:hover
{
    background-color:greenyellow;
}









.socail-menu ul li:nth-child(3) a:hover
{
    background-color: #007785;
}


























/*

.footer .seen5 p
{
    position: relative;
    bottom:-200px;
    color:grey;
    width: 610px;
    left:360px;
    text-transform: uppercase;
}


*/









































/*








.footer
{
    background-color: black;
    width:100%;
    height:100vw;
    position:relative;
    top:-800vw;
    
}




.footer .foot_1 
{
    position: relative;
    left: 35%;
    bottom: -20%;
   width: 23vw;
    color: white;
   font-size: 1.5vw;
}



.footer .foot_1 li:hover
{
    z-index: 1;
    transform: scale(1.01);
    color: darkorange
}



.footer .foot_1 h1
{
     text-transform: uppercase;
    position: relative;
    bottom: -51%;
    color: aliceblue;
    
}


.footer .foot_2
{
    position: absolute;
   bottom: 75%;
    width: 5vw;
    height:2vw;
    text-align: left;
    width: 22vw;
    left: 5%;
    color: darkgrey;
    font-size: 1.5vw;
}


.footer .foot_2 h1
{
    
    color: aliceblue;
    text-transform: uppercase;
    font-size: 3vw;
    position: absolute;
    bottom: 47%;
}




.footer .foot_1 a
{
    text-decoration: none;
    color: aliceblue;
    line-height: 2;
    color: darkgrey;
    
}














.footer .foot_3
{
    position: absolute;
    bottom:78%;
    width: 17vw;
    height:2vw;
    text-align: left;
    left: 65%;
    color: darkgrey;
    font-size: 1.5vw;
}


.footer .foot_3 h1
{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 3vw;
    width: 50vw;
    bottom: 47%;
}

.footer .foot_3 li
{
    width: 28vw; 
    position: relative;
    bottom: 18%;
}













































.footer .seen p
{
    position: absolute;
    bottom:24%;
    color:grey;
    width: 61vw;
    left:20%;
    text-transform: uppercase;
    font-size:1.6vw;
}








.footer .seen5 p
{
    position:absolute;
    bottom:2%;
    color:grey;
    width: 50%;
    left:35%;
    text-transform: uppercase;
    font-size: 1.5vw;
}




















.footer .slider p
{
    position: absolute;
    bottom: 92%;
    left: 5%;
    color: azure;
    font-family: sans-serif;
    font-size: 6vw;
}









.footer .side1 h1
{
    position: absolute;
    bottom: 85%;
    color: aliceblue;
    left: 85%;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-transform: uppercase;
}


.footer .side1 p
{
    position: absolute;
    bottom: 77%;
    color: grey;
   left: 85%;
    font-family: sans-serif;
    font-size: 1vw;
    width:10vw;
}














.footer .side2 h1
{
    position: absolute;
    bottom: 73%;
    color: aliceblue;
    left: 85%;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-transform: uppercase;
    
}


.footer .side2 p
{
    position: absolute;
    bottom: 64%;
    color: grey;
    left: 85%;
    font-family: sans-serif;
     font-size: 1vw;
    width:10vw;
}
















.footer .side3 h1
{
    position: absolute;
    bottom: 60%;
    color: aliceblue;
    left: 85%;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-transform: uppercase;
    
}


.footer .side3 p
{
    position: absolute;
    bottom: 55%;
    color: grey;
    left: 85%;
    font-family: sans-serif;
     font-size: 1vw;
    width:10vw;
   
}






































.socail-menu ul
{
    position: absolute;
    bottom: 5%;
    left:40%;
    padding: 0px;
    margin: 0px;
    transform: translate(-15px,-15px);
    display: flex;
   
    
    
}


.socail-menu ul li
{
    list-style: none;
    margin: 0 15px;
     
    
}


.socail-menu ul li .fa
{
    font-size: 3vw;
    line-height: 7vw;
    transition: .6s;
    color: #000;
    
}


.socail-menu ul li .fa:hover
{
    background-color: #fff;
}



.socail-menu ul li a
{
    position: relative;
    display: block;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: #fff;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}



.socail-menu ul li a:hover
{
    transform: translate(0, -10px);
}





.socail-menu ul li:nth-child(1) a:hover
{
    background-color: #3b5999;
}




.socail-menu ul li:nth-child(2) a:hover
{
    background-color:greenyellow;
}









.socail-menu ul li:nth-child(3) a:hover
{
    background-color: #007785;
}




























.footer .seen1 p
{
    position: absolute;
    bottom:20%;
    color:grey;
    width: 40%;
    left:30%;
    text-transform: lowercase;
    font-size: 1.5vw;
    
}








*/


















      
   
         





         
    
         
         


























@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}



/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}



















#texi
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
     height: 200vh;
    
    
}





