body
{
background-color: white;    
width: 100%;
}















.imi
{
    background: url(pic/lava.png);
    position:relative;
    width: 100%;
    height: 35vw;
    top: 12vw;
    left:0px;
    background-size: cover;
}







.being img
{
    position:absolute;
    height: 6vw;
    width: 5vw;
    top:3vw;
    left: 15%;
    border-radius: 50%;
}









.active a
{
    position: absolute;
    font-size: 5vw;
    font-family: sans-serif;
    text-align: center;
    padding: 4%;
    top: -1vw;
    left: 23%;
    text-decoration: none;
    color: black;
}




















.image_main img
{
    position: absolute;
    width: 1024px;
    height: 350px;
    left:0px;
    bottom: 150px;
}







.image1 img
{
    position: absolute;
    width: 20vw;
    height: 29vw;
    left:12%;
    top: 56vw;
}




.image2 img
{
    position: absolute;
   width: 20vw;
    height: 29vw;
    left:70%;
     top: 56vw;
}




.paragraph p
{
    position: absolute;
    width: 21vw;
    height: 50vw;
    left:43%;
    top: 61vw;
    font-family: sans-serif;
    text-justify: auto;
    font-size: 1.7vw;
    font-family:sans-serif;
    text-align: match-parent;
    
}



.paragraph h1
{
     position: absolute;
    width: 20vw;
    height: 20vw;
    left:43%;
    top: 57vw;
    font-family: sans-serif;
    font-size: 3vw;
}





















#texi
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
     height: 200vh;
    
    
}











.heading p
{
     position: absolute;
    left:270px;
    top: 20px;
    font-family: sans-serif;
    font-size: 55px;
}







.sign img
{
    width:50px;
    height:50px;
    position: absolute;
    bottom:530px;
    left: 200px;
    border-radius: 50%;
}














*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins' , sans-serif;
    text-transform: none;
    transition: all 0.3 linear;
    
}









.container
{
    width: 100%;
    height: -100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-image: linear-gradient(90deg, #fff 0% , #alicewhite 100% );
    position:relative;
    top: 70vw;
}






.box
{
    width: 16em;
    height: 28em;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    padding-top: 80px;
    margin: 20px;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    z-index: 0;
}




.box h3
{
    font-size: 2em;
    padding: 20px 0;
    color: #444;
    
}






.box p
{
    font-size: 1em;
    color: #777;
}




.box button
{
    width:140px;
    height: 40px;
    background-color:#333;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 40px;
}





.box button:hover
{
    letter-spacing: 2px;
    opacity: .8;
}






.box::before
{
    width: 100px;
    height: 100px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}





.box::after
{
    width: 100%;
    height: 100%;
    background-color: 	#ff1493;
    background-image: linear-gradient(45deg, #fbda61 0%, #ffSACD 100%);
    content: '';
    position: absolute;
    top: 0;
    left:0;
    z-index:-2;
    clip-path: circle(20% at 90% 10%);
    transition: .2s;

        
    
}






.box .count
{
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 50px;
    font-weight:bolder;
    color: #fff;
}





.box:nth-child(2):after{
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    
} 



.box:nth-child(3):after{
    background-color: #08AEEa;
    background-image: linear-gradient(0deg, #08AEEa 0%, #2af598 100%);
}
    
    
  .box:hover::after
    {
        clip-path:circle(100%);
    }
    
    
    .box:hover h3
    {
        color: #fff;
    }
    
    
    .box:hover h3
    {
        color:#fff;
    }
    
    
    
    .box:hover p
    {
        color:#fff;
    }
    
    
    
    
    .box:hover button
    {
        color:#333;
        background-color: #fff;
    }
    

    .box:hover::before
    {
        background-color: rgba(0, 0, 0 , .1);
    }





























.footer .seen p
{
    position: absolute;
    bottom:42%;
    color:grey;
    width: 61vw;
    left:20%;
    text-transform: uppercase;
    font-size:1.6vw;
}













.footer .seen5 p
{
    position:absolute;
    bottom:2%;
    color:grey;
    width: 50%;
    left:35%;
    text-transform: uppercase;
    font-size: 1.5vw;
}







  
        
   





.footer .seen1 p
{
    position: absolute;
    bottom:36%;
    color:grey;
    width: 40%;
    left:33%;
    text-transform: lowercase;
    font-size: 1.5vw;
    
}










































.footer
{
    background-color: black;
    width:100%;
    height:90vw;
    position:relative;
    bottom:-80vw;
    
}




.footer .foot_1 
{
    position: relative;
    left: 35%;
  bottom:-8%;
   width: 23vw;
    color: white;
   font-size: 1.5vw;
}



.footer .foot_1 li:hover
{
    z-index: 1;
    transform: scale(1.01);
    color: darkorange
}



.footer .foot_1 h1
{
     text-transform: uppercase;
    position: relative;
    bottom: -51%;
    color: aliceblue;
    
}


.footer .foot_2
{
    position: absolute;
    bottom:86%;
    width: 10vw;
    height:2vw;
    text-align: left;
    width: 22vw;
    left: 5%;
    color: darkgrey;
    font-size: 1.5vw;
}


.footer .foot_2 h1
{
    
    color: aliceblue;
    text-transform: uppercase;
    font-size: 3vw;
    position: absolute;
    bottom: 47%;
}




.footer .foot_1 a
{
    text-decoration: none;
    color: aliceblue;
    line-height: 2;
    color: darkgrey;
    
}














.footer .foot_3
{
    position: absolute;
    bottom:89%;
    width: 30vw;
    height:2vw;
    text-align: left;
    left: 65%;
    color: darkgrey;
    font-size: 1.5vw;
}


.footer .foot_3 h1
{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 3vw;
    width: 50vw;
    bottom: 47%;
}































































 









.socail-menu ul
{
    position: absolute;
    bottom: 15%;
    left:40%;
    padding: 0px;
    margin: 0px;
    transform: translate(-15px,-15px);
    display: flex;
   
    
    
}


.socail-menu ul li
{
    list-style: none;
    margin: 0 15px;
     
    
}


.socail-menu ul li .fa
{
    font-size: 3vw;
    line-height: 7vw;
    transition: .6s;
    color: #000;
    
}


.socail-menu ul li .fa:hover
{
    background-color: #fff;
}



.socail-menu ul li a
{
    position: relative;
    display: block;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: #fff;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}



.socail-menu ul li a:hover
{
    transform: translate(0, -10px);
}





.socail-menu ul li:nth-child(1) a:hover
{
    background-color: #3b5999;
}




.socail-menu ul li:nth-child(2) a:hover
{
    background-color:greenyellow;
}









.socail-menu ul li:nth-child(3) a:hover
{
    background-color: #007785;
}













         
    
         
         


























@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}



/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
























