body {
  font-family: Arial, Helvetica, sans-serif;
    height: 300vh;
    width: 100%;
}

.mobile-container {
  max-width: 100%;
  margin: auto;
  background-color:white;
  height: 100px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color:white;
  position: relative;
  
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: black;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  border-bottom: solid .1px #D3D3D3;
  font-family:sans-serif;
    line-height: 1;
   
    
  
}


.topnav i
{
    position: absolute;
    width: 5vw;
    height: 6vw;
    top: 26%;
    right: 5%;
   
    
}



.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: white;
  color: white;
}



.topnav .active
{
    font-size: 5vw;
    font-family: sans-serif;
    text-align: center;
    padding: 4%;
}





.imi
{
    background: url(pic/lava.png);
    position:relative;
    width: 100%;
    height: 40vw;
    top: -1340px;
    left:0px;
    background-size: cover;
}










.being img
{
    position:absolute;
    height: 6vw;
    width: 5vw;
    top: 26%;
    left: 15%;
    border-radius: 50%;
}












































.feris .image1 img
{
    position: relative;
    width: 50vw;
    height: 40vw;
    right:2vw;
    bottom:-43vw;
    margin: 5vw;
    padding-bottom: 1em;
    padding-top: 1em;
}












 .paragraph
{
    margin: -20vw;
    color: black;
    position: relative;
    
    /*
    bottom:10% ;
    left:10vh ;
   */
}






.paragraph p
{
    position: relative;
    width: 35vw;
    height: 33vw;
    right:-75%;
    bottom: 156vw;
    font-family: sans-serif;
    text-justify: auto;
    font-size: 1.7vw;
    padding-bottom: 1em;
    padding-top: 1em;
}



.paragraph h1
{
     position: relative;
    width: 25vw;
    height: 33vw;
    right:-75%;
    bottom: 127vw;
    font-family: sans-serif;
  font-size: 2vw;
}




.paragraph button
{
    position: relative;
    width:15vw;
    height:3vw;
      right:-75%;
    bottom:170vw;
    background-color: black;
    color: aliceblue;
    font-size: 1.5vw;
}

.paragraph button:hover
{
    z-index: 1;
    transform: scale(1.1);
}

















.heading p
{
     position: relative;
    left:270px;
    bottom: 100px;
    font-family: sans-serif;
    font-size: 55px;
}







.sign img
{
    width:50px;
    height:50px;
    position: absolute;
    bottom:1030px;
    left: 200px;
    border-radius: 50%;
}












*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins' , sans-serif;
    text-transform: none;
    transition: all 0.3 linear;
   
}









.container
{
    width: 100%;
    height: -100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-image: linear-gradient(90deg, #fff 0% , #alicewhite 100% );
    position:relative;
    top: -130vw;
}






.box
{
    width: 16em;
    height: 28em;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    padding-top: 80px;
    margin: 20px;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    z-index: 0;
}




.box h3
{
    font-size: 2em;
    padding: 20px 0;
    color: #444;
    
}






.box p
{
    font-size: 1em;
    color: #777;
}




.box button
{
    width:140px;
    height: 40px;
    background-color:#333;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 40px;
}





.box button:hover
{
    letter-spacing: 2px;
    opacity: .8;
}






.box::before
{
    width: 100px;
    height: 100px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}





.box::after
{
    width: 100%;
    height: 100%;
    background-color: 	#ff1493;
    background-image: linear-gradient(45deg, #fbda61 0%, #ffSACD 100%);
    content: '';
    position: absolute;
    top: 0;
    left:0;
    z-index:-2;
    clip-path: circle(20% at 90% 10%);
    transition: .2s;

        
    
}






.box .count
{
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 50px;
    font-weight:bolder;
    color: #fff;
}





.box:nth-child(2):after{
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    
} 



.box:nth-child(3):after{
    background-color: #08AEEa;
    background-image: linear-gradient(0deg, #08AEEa 0%, #2af598 100%);
}
    
    
  .box:hover::after
    {
        clip-path:circle(100%);
    }
    
    
    .box:hover h3
    {
        color: #fff;
    }
    
    
    .box:hover h3
    {
        color:#fff;
    }
    
    
    
    .box:hover p
    {
        color:#fff;
    }
    
    
    
    
    .box:hover button
    {
        color:#333;
        background-color: #fff;
    }
    

    .box:hover::before
    {
        background-color: rgba(0, 0, 0 , .1);
    }











.footer
{
    background-color: black;
    width:100%;
    height:180vw;
    position:relative;
    bottom:120vw;
    
}




.footer .foot_1 
{
    position: relative;
    left: 35%;
    bottom: -53%;
   width: 23vw;
    color: white;
   font-size: 1.5vw;
}



.footer .foot_1 li:hover
{
    z-index: 1;
    transform: scale(1.01);
    color: darkorange
}



.footer .foot_1 h1
{
     text-transform: uppercase;
}


.footer .foot_2
{
    position: absolute;
    bottom:45%;
    width: 5vw;
    height:2vw;
    text-align: left;
    width: 23vw;
    left: 5%;
    color: darkgrey;
    font-size: 1.5vw;
}


.footer .foot_2 h1
{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 3vw;
}




.footer .foot_1 a
{
    text-decoration: none;
    color: aliceblue;
    line-height: 2.2;
    color: darkgrey;
}







.footer .foot_3 li
{
   position: absolute;
    left:65%;
    bottom:33%;
    width: 25vw;
 color: darkgrey;
   font-size: 1.5vw;
}




.footer .foot_3 h1
{
    width: 400px;
    position:absolute;
    left:60%;
    bottom:45%;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 3vw;
}










.footer .seen p
{
    position: absolute;
    bottom:24%;
    color:grey;
    width: 61vw;
    left:20%;
    text-transform: uppercase;
    font-size:1.6vw;
}








.footer .seen5 p
{
    position:absolute;
    bottom:2%;
    color:grey;
    width: 50%;
    left:35%;
    text-transform: uppercase;
    font-size: 1.5vw;
}










.footer .magizine img
{
    position: absolute;
    bottom: 53%;
    width: 37%;
    height: 64vw;
    left: 5%;
}


.footer .magizine img:hover
{
    z-index: 1;
    transform: scale(1.01);
    animation-delay: 2s;
}




.footer .magizine1 img
{
    position: absolute;
    bottom: 53%;
    width: 30%;
    height: 20vw;
    left: 45%;
}


.footer .magizine1 img:hover
{
    z-index: 1;
    transform: scale(1.01);
    animation-delay: 2s;
}





.footer .magizine2 img
{
    position: absolute;
    bottom: 77%;
    width: 30%;
    height: 20vw;
    left: 45%;
}



.footer .magizine2 img:hover
{
    z-index: 1;
    transform: scale(1.01);
    animation-delay: 2s;
}








.footer .magizine3 img
{
    position: absolute;
    bottom:65%;
   width: 30%;
   height: 20vw;
    left: 45%;
}


.footer .magizine3 img:hover
{
    z-index: 1;
    transform: scale(1.01);
    animation-delay: 2s;
}















.footer .slider p
{
    position: absolute;
    bottom: 92%;
    left: 5%;
    color: azure;
    font-family: sans-serif;
    font-size: 6vw;
}









.footer .side1 h1
{
    position: absolute;
    bottom: 85%;
    color: aliceblue;
    left: 85%;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-transform: uppercase;
}


.footer .side1 p
{
    position: absolute;
    bottom: 77%;
    color: grey;
   left: 85%;
    font-family: sans-serif;
    font-size: 1vw;
    width:10vw;
}














.footer .side2 h1
{
    position: absolute;
    bottom: 73%;
    color: aliceblue;
    left: 85%;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-transform: uppercase;
    
}


.footer .side2 p
{
    position: absolute;
    bottom: 64%;
    color: grey;
    left: 85%;
    font-family: sans-serif;
     font-size: 1vw;
    width:10vw;
}
















.footer .side3 h1
{
    position: absolute;
    bottom: 60%;
    color: aliceblue;
    left: 85%;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-transform: uppercase;
    
}


.footer .side3 p
{
    position: absolute;
    bottom: 55%;
    color: grey;
    left: 85%;
    font-family: sans-serif;
     font-size: 1vw;
    width:10vw;
   
}


















.footer .intro h1
{
    position: absolute;
    bottom: 67%;
    left: 6%;
    color: azure;
    font-family: sans-serif;
    font-size: 4vw;
    width: 30vw;
     text-transform: lowercase;
}



.footer .intro h1:hover
{
    
    cursor: pointer;
    z-index: 1;
    transform: scale(1.0);
}




.footer .intro p
{
    position: absolute;
    bottom: 62%;
    left: 6%;
    color: white;
    font-family: sans-serif;
    font-size: 1.5vw;
    width: 30vw;
}






















.socail-menu ul
{
    position: absolute;
    bottom: 5%;
    left:40%;
    padding: 0px;
    margin: 0px;
    transform: translate(-15px,-15px);
    display: flex;
   
    
    
}


.socail-menu ul li
{
    list-style: none;
    margin: 0 15px;
     
    
}


.socail-menu ul li .fa
{
    font-size: 3vw;
    line-height: 7vw;
    transition: .6s;
    color: #000;
    
}


.socail-menu ul li .fa:hover
{
    background-color: #fff;
}



.socail-menu ul li a
{
    position: relative;
    display: block;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: #fff;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}



.socail-menu ul li a:hover
{
    transform: translate(0, -10px);
}





.socail-menu ul li:nth-child(1) a:hover
{
    background-color: #3b5999;
}




.socail-menu ul li:nth-child(2) a:hover
{
    background-color:greenyellow;
}









.socail-menu ul li:nth-child(3) a:hover
{
    background-color: #007785;
}






















#texi
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
     height: 200vh;
    
    
}









         
             
#texi #text1 
         {
             color:floralwhite;
             font-weight: bold;
             border: 1px groove black ;
             width:15vw;
             height:25vw;
             position: relative;
             left:6%;
             top: 40vw;
             background-image: url(pic/black2.jpeg);
             background-size: 150px 250px;
             border-radius: 10%;
             letter-spacing: 1px;
             padding: 1vw;
             margin: 4vw;
             
              
             
            
             
         }
             
             
#texi #text1 a
         {
         
             text-decoration: none;
             font-family: sans-serif;
             color: aliceblue;
             
         }

#texi #text1  p
        {
         position: absolute;
         left: 20%;
         bottom: 40%;
         font-size:2.5vw;

        }





 #texi #text1:hover
         {
          
              z-index: 1;
             transform:scale(1.1);
             box-shadow: 0 25px 40px rgba(0,0,0,.5);
             
        }
         
             
     









.footer .seen1 p
{
    position: absolute;
    bottom:20%;
    color:grey;
    width: 40%;
    left:30%;
    text-transform: lowercase;
    font-size: 1.5vw;
    
}



























      
   
         





         
    
         
         


























@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}



/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}





