*
{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
   
    
  
}




body
{
    font-family: montserrat;
    width: 100%;
}



nav
{
    background: black;
    height: 80px;
    width: 100%;
    position:absolute;
    top: 0px;
}



label.logo
{
    color: aliceblue;
    font-size: 2em;
    line-height: 7vw;
    padding: 0 5vw;
    font-weight: bold;
}




nav ul
{
    float: right;
    margin-right: 4.5vw;
}



nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 2px;
}




nav ul li a
{
    color: aliceblue;
    font-size: 1.4vw;
    text-transform: uppercase;
    padding: 4px 5px;
    border-radius: 3px;
    
}


a.active,a:hover
{
    background: orange;
    transition: .5s;
}



.checkbtn
{
    font-size: 6vw;
    color: aliceblue;
    float: right;
    line-height: 4vw;
    margin-right:7vw ;
    cursor: pointer;
    display: none;
   
}

#check
{
    display: none;
}
    
    @media (max-width: 952px){
        
        label.logo{
     font-size:3vw;
     padding-left:40px;
}



nav ul li a
{
 font-size: 3vw;   
}
        


}

@media(max-width: 858px){
    .checkbtn{
        display: block;
    }
    
    
    ul
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background:black; 
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    
    
    nav ul li
    {
        display: block ;
        margin: 50px 0;
        line-height: 1px;
    }
    
    
    
    nav ul li a
    {
        font-size: 13px;
    }
    
    
    a:hover,a.active
    {
        background: none;
        color: darkorange;
    }
    
    #check:checked ~ ul
    {
        left: 0;
    }
}


section
{
    background: url(pic/simple.jpg) no-repeat;
    background-size:cover;
    height: calc(100vh-80px);
}






































































.sub-menu-1 ul li a
{
    font-size: 12px;
}





.sub-menu-1
{
    display: none;
}




nav ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: black;
    margin-top: 15px;
    margin-left: 25px;
    top:50%;
    bottom: 50%
}




nav ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 3px;
    
}




nav ul li:hover .sub-menu-1 ul li
{
    display: block;
    width: 190px;
    padding:1px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
    height: 50px;
    text-align: center;
   
    
}








nav ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom:none;
}




nav ul li:hover .sub-menu-1 ul li a:hover
{
    color: orange;
    
}








.fa-angle-right
{
    float: right;
}





.sub-menu-2
{
    display: none;
    width: 195px;
}



.hover-me:hover .sub-menu-2
{
    position: absolute;
    display: block;
    margin-top:-80px;
    margin-left:195px;
    
}















       
         #particles-js
        {
            background-repeat: no-repeat;
            width:100%;
            height: 60vw;
             background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url("pic/mouse.jpg");
            background-size: cover;
            position: relative;
            top: -26vw;
        }
        
        
        
        #particles-js h1
        {
            position: absolute;
            left: -20%;
            top: 23%;
            transform: translate(50%, 50%);
            font-size: 6vw;
            color: ghostwhite;
            
        }
        
        
        









         
         
         
         
         
         
         
             






























































































label a
{
    text-decoration: none;
    color: aliceblue;
}












    
         #particles-jb
        {
            position: absolute;
            background-repeat: no-repeat;
            width:100%;
            height: 50vw;
            background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("pic/scene.jpg");
            background-size: cover;
           top:200vw;
        }
        


 #particles-jb h1
{
    position: absolute;
    top:45%;
    bottom: 50%;
    left: 15%;
    font-size: 5vw;
    color: aliceblue;
    width:900px;
    text-transform: uppercase;
}


#particles-jb button
{
    position: absolute;
    width:18vw;
    height:4vw;
    background:white;
    left: 41%;
    bottom:13%;
    font-weight: 500;
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
    
   
}


#particles-jb button:hover
{
    letter-spacing: 2px;
     z-index: 1;
     transform:scale(1.1);
{
     
    
}

}


#particles-jb h2
{
    
    position: absolute;
    top:27%;
    left: 25%;
    font-size: 1.7vw;
    color: aliceblue;
    width:900px;
    text-transform: lowercase;
    
}



















.image1 img
{
    position: absolute;
    width: 30vw;
    height: 25vw;
    left:8%;
    top:107vw;
}

.image1 img:hover
{
      z-index: 1;
             transform:scale(1.1);
             box-shadow: 0 25px 40px rgba(0,0,0,.1);
    
}



.image2 img
{
    position: absolute;
     width: 30vw;
    height: 25vw;
    left:58%;
  top:107vw;
}


.image2 img:hover
{
      z-index: 1;
             transform:scale(1.1);
             box-shadow: 0 25px 40px rgba(0,0,0,.1);
    
}











.image3 img
{
    position: absolute;
   width: 30vw;
    height: 25vw;
    left:8%;
   top:152vw ;
}

.image3 img:hover
{
      z-index: 1;
             transform:scale(1.1);
             box-shadow: 0 25px 40px rgba(0,0,0,.1);
    
}







.image4 img
{
    position: absolute;
     width: 30vw;
    height: 25vw;
    left:58%;
   top:152vw;
}


.image4 img:hover
{
      z-index: 1;
             transform:scale(1.1);
             box-shadow: 0 25px 40px rgba(0,0,0,.1);
    
}
















.sigma1 P
{
    position: absolute;
   top:138vw;
    left:8%;
    font-size:  3vw;
    color: black;
    width:50vw;
    text-transform: uppercase;
    font-family: sans-serif;

}








.sigma2 P
{
    position: absolute;
    top:138vw;
    left:60%;
    font-size:  3vw;
    color: black;
     width:50vw;
    text-transform: uppercase;
     font-family: sans-serif;
  
}







.sigma3 P
{
    position: absolute;
   top:182vw;
     left:6%;
   font-size:  3vw;
    color: black;
    width:50vw;
    text-transform: uppercase;
     font-family: sans-serif;
 
}







.sigma4 P
{
    position: absolute;
    top:182vw;
     left:60%;
    font-size:  3vw;
    color: black;
   width:50vw;
    text-transform: uppercase;
     font-family: sans-serif;
    
}
































































































































































*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins' , sans-serif;
    text-transform: none;
    transition: all 0.3 linear;
    
}









.container
{
    width: 100%;
    height: -100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background-image: linear-gradient(90deg, #fff 0% , #alicewhite 100% );
    position:relative;
    top: 180vw;
}






.box
{
    width: 16em;
    height: 28em;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    padding-top: 80px;
    margin: 20px;
    text-align: center;
    letter-spacing: 1px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    z-index: 0;
}




.box h3
{
    font-size: 2em;
    padding: 20px 0;
    color: #444;
    
}






.box p
{
    font-size: 1em;
    color: #777;
}




.box button
{
    width:140px;
    height: 40px;
    background-color:#333;
    color: #fff;
    border: none;
    outline: none;
    font-size: 1em;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 40px;
}





.box button:hover
{
    letter-spacing: 2px;
    opacity: .8;
}






.box::before
{
    width: 100px;
    height: 100px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}





.box::after
{
    width: 100%;
    height: 100%;
    background-color: 	#ff1493;
    background-image: linear-gradient(45deg, #fbda61 0%, #ffSACD 100%);
    content: '';
    position: absolute;
    top: 0;
    left:0;
    z-index:-2;
    clip-path: circle(20% at 90% 10%);
    transition: .2s;

        
    
}






.box .count
{
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 50px;
    font-weight:bolder;
    color: #fff;
}





.box:nth-child(2):after{
    background-color: #0093e9;
    background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
    
} 



.box:nth-child(3):after{
    background-color: #08AEEa;
    background-image: linear-gradient(0deg, #08AEEa 0%, #2af598 100%);
}
    
    
  .box:hover::after
    {
        clip-path:circle(100%);
    }
    
    
    .box:hover h3
    {
        color: #fff;
    }
    
    
    .box:hover h3
    {
        color:#fff;
    }
    
    
    
    .box:hover p
    {
        color:#fff;
    }
    
    
    
    
    .box:hover button
    {
        color:#333;
        background-color: #fff;
    }
    

    .box:hover::before
    {
        background-color: rgba(0, 0, 0 , .1);
    }











.footer
{
    background-color: black;
    width:100%;
    height:100vw;
    position:relative;
    bottom:-200vw;
    
}




.footer .foot_1 
{
    position: relative;
    left: 35%;
  bottom:-8%;
   width: 23vw;
    color: white;
   font-size: 1.5vw;
}



.footer .foot_1 li:hover
{
    z-index: 1;
    transform: scale(1.01);
    color: darkorange
}



.footer .foot_1 h1
{
     text-transform: uppercase;
    position: relative;
    bottom: -51%;
    color: aliceblue;
    
}


.footer .foot_2
{
    position: absolute;
    bottom:86%;
    width: 10vw;
    height:2vw;
    text-align: left;
    width: 22vw;
    left: 5%;
    color: darkgrey;
    font-size: 1.5vw;
}


.footer .foot_2 h1
{
    
    color: aliceblue;
    text-transform: uppercase;
    font-size: 3vw;
    position: absolute;
    bottom: 47%;
}




.footer .foot_1 a
{
    text-decoration: none;
    color: aliceblue;
    line-height: 2;
    color: darkgrey;
    
}














.footer .foot_3
{
    position: absolute;
    bottom:89%;
    width: 30vw;
    height:2vw;
    text-align: left;
    left: 65%;
    color: darkgrey;
    font-size: 1.5vw;
}


.footer .foot_3 h1
{
    color: aliceblue;
    text-transform: uppercase;
    font-size: 3vw;
    width: 50vw;
    bottom: 47%;
}































































.footer .seen p
{
    position: absolute;
    bottom:48%;
    color:grey;
    width: 61vw;
    left:20%;
    text-transform: uppercase;
    font-size:1.6vw;
}








.footer .seen5 p
{
    position:absolute;
    bottom:2%;
    color:grey;
    width: 50%;
    left:35%;
    text-transform: uppercase;
    font-size: 1.5vw;
}









































.socail-menu .big
{
    position: absolute;
    bottom: 15%;
    left:40%;
    padding: 0px;
    margin: 0px;
    transform: translate(-15px,-15px);
    display: flex;
   
    
    
}


.socail-menu .big p50
{
    list-style: none;
    margin: 0 15px;
     
    
}


.socail-menu .big p50 .fa
{
    font-size: 3vw;
    line-height: 7vw;
    transition: .6s;
    color: #000;
    
}


.socail-menu .big p50 .fa:hover
{
    background-color: #fff;
}



.socail-menu .big p50 a
{
    position: relative;
    display: block;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: #fff;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}



.socail-menu .big p50 a:hover
{
    transform: translate(0, -10px);
}





.socail-menu .big p50:nth-child(1) a:hover
{
    background-color: #3b5999;
}




.socail-menu .big p50:nth-child(2) a:hover
{
    background-color:greenyellow;
}









.socail-menu ul p50:nth-child(3) a:hover
{
    background-color: #007785;
}


















#texi
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
     height: 200vh;
    
    
}







         
             
#texi #text1 
         {
             color:floralwhite;
             font-weight: bold;
             border: 1px groove black ;
             width:15vw;
             height:25vw;
             position: relative;
             left:6%;
             top: 70vw;
             background-image: url(pic/black2.jpeg);
             background-size: 150px 250px;
             border-radius: 10%;
             letter-spacing: 1px;
             padding: 1vw;
             margin: 4vw;
             
             
              
             
            
             
         }
             
             
#texi #text1 a
         {
         
             text-decoration: none;
             font-family: sans-serif;
             color: aliceblue;
             
         }

#texi #text1  p
        {
         position: absolute;
         left: 20%;
         bottom: 40%;
         font-size:2.5vw;

        }





 #texi #text1:hover
         {
          
              z-index: 1;
             transform:scale(1.1);
             box-shadow: 0 25px 40px rgba(0,0,0,.5);
             
        }
         
             
     















.footer .seen1 p
{
    position: absolute;
    bottom:40%;
    color:grey;
    width: 40%;
    left:32%;
    text-transform: lowercase;
    font-size: 1.5vw;
    
}



























      
   
         





         
    
         
         


























@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}



/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

















